
@media(min-width: 1400px){

}

@media(min-width: 1200px) and (max-width: 1400px){
    .width_1400 .blocks_width{width: 100%; padding-left: 20px; padding-right: 20px;}
    .services__inner{margin-left: 0; margin-right: 0; }
    .serv_style_3 .col_4 .serv_single_tit {font-size: 18px; line-height: 25px;}
    .logos_inner img{max-width: 90%;}

}
@media(min-width: 1200px){
    .header_style_1.no_soc .header_main .header_right{display: none;}
    .header_style_1.no_soc .header_main .header_left,
    .header_style_2.no_soc .header_top .header_left{width: 100%;}
}
@media(max-width: 1200px){
    .site_width_boxed,
    .site_width_split .main,
    .home .fs_inner{width: 100%;}

    .mobile-menu{position: fixed; height: 100%; height: 100vh; display: table; left: -320px; width: 300px; background: #262a2b; z-index: 101; transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;}
    .mobile-menu.show{left: 0;}
    .mobile-menu .close{background: #f04f4d; color: #ffffff; padding:0; position: absolute; top: 0; right: 0; opacity: 1;line-height: 0;width:40px;height:40px;}
    .mobile-menu .head{color: #ffffff; width: 100%; display: inline-block; text-align: center; padding: 7px 0px;  background: #262a2b;}
    .mobile-menu .social_top{position: relative; top: auto; right: auto; width: 100%; text-align: center; background: #262a2b;}

    .mobile-menu nav{padding: 0; width: 100%; height: 90vh; padding-bottom: 170px; position: relative;}
    .mobile-menu nav ul,
    .mobile-menu nav ul ul{list-style: none; padding-left: 0;}
    .mobile-menu nav ul > li{position: relative;}
    .mobile-menu nav ul > li.current-menu-ancestor > a,
    .mobile-menu nav ul > li.current-menu-item{background: #337ab7; color: #ffffff;}
    .mobile-menu nav ul > li > a{color: white; text-decoration: none; padding: 5px 10px 5px 30px; display: block; border-top: 1px solid #171717; border-bottom: 1px solid #333333;}
    .mobile-menu nav ul ul > li > a{padding-left: 50px; font-size: 12px;}
    .mobile-menu nav ul ul ul > li > a{padding-left: 80px;}
    .mobile-menu nav ul > li.current-menu-ancestor ul.sub-menu{display: block;}

    .mobile-menu .com_contact-info__sm{color: #f0f0f0; list-style: none; text-align: left; padding: 30px 10px 30px 30px; }

    .menu-button .touch-button{display: none;}
    .flexnav .touch-button{width: 100%; height: 40px;}
    .flexnav .touch-button .navicon{display: none;}
    .flexnav .touch-button:before,
    .flexnav .touch-button:after{content: ''; position: absolute; right: 25px; background-color: #ffffff; display: block;}
    .flexnav .touch-button:before{top: 19px; width: 3px; height: 1px;}
    .flexnav .touch-button:after{top: 20px; width: 1px; height: 1px; margin-right: 1px;}

    /* social btns */
    .social_top ul.header_social{text-align: center;}
    .social_top ul > li > a{color:#cccccc; font-size: 18px;}
    .social_top ul > li > a:hover{color:#02b3c3;}

    .mobile-menu_cta{text-align: center; display: inline-block; width: 100%; padding-bottom: 20px;} 
    .mobile-menu_cta .header_cta{float: none;  width: 90%;}
    .mobile-menu_cta .cta{width: 100%;}

    /* HAMBURGER
    ------------------------------------------------------------------------------*/
    .c-hamburger{display:block;position:relative;margin:0;padding:0;width:50px;height:50px;padding: 16px 16px; appearance:none;box-shadow:none;border-radius:0;border:none;cursor:pointer;transition:background .3s; color: #505b61;}
    .c-hamburger:focus{outline:0}
    .c-hamburger span{display:block;position:absolute;top:25px;left:16px;right:16px;height:2px;background:#505b61}
    .c-hamburger span::after,.c-hamburger span::before{position:absolute;display:block;left:0;width:100%;height:2px;background-color:#505b61;content:""}
    .c-hamburger span::before{top:-5px}
    .c-hamburger span::after{bottom:-5px}
    .c-hamburger--htx{background-color:transparent}
    .c-hamburger--htx span{transition:background 0s .3s}
    .c-hamburger--htx span::after,.c-hamburger--htx span::before{transition-duration:.3s,.3s;transition-delay:.3s,0s}
    .c-hamburger--htx span::before{transition-property:top,transform}
    .c-hamburger--htx span::after{transition-property:bottom,transform}
    .c-hamburger--htx.is-active{background-color:transparent}
    .c-hamburger--htx.is-active span{background:0 0; }
    .c-hamburger--htx.is-active span::before{top:0;transform:rotate(45deg); background-color: #ffffff;}
    .c-hamburger--htx.is-active span::after{bottom:0;transform:rotate(-45deg); background-color: #ffffff;}
    .c-hamburger--htx.is-active span::after,
    .c-hamburger--htx.is-active span::before{transition-delay:0s,.3s}
    .c-hamburger--htx i{position: absolute; left: 20px; top: -12px; font-size: 12px; padding-left: 4px;}
    .c-hamburger--htx.is-active i{color: #ffffff; }

    .header_style_2 .c-hamburger{float: right; margin-right: 60px;}
    .header_dark .c-hamburger span{background: #ffffff}
    .header_dark .c-hamburger span::after,
    .header_dark .c-hamburger span::before{background-color:#ffffff;}

}

@media(min-width: 992px) and (max-width: 1200px){


    h1{font-size: 48px; line-height: 56px; letter-spacing: 0;}
    h2,
    .hp_item_tit{font-size: 36px; line-height: 44px; letter-spacing: 0;}
    h3,
    .bws_content .hp_item_tit{font-size: 26px; line-height: 34px; letter-spacing: .01em;}
    h4,
    .hp_item_subtit{font-size: 22px; line-height: 32px; letter-spacing: 0;}
    h5{font-size: 20px; line-height: 28px; letter-spacing: 0;}
    h6{font-size: 20px; line-height: 28px; letter-spacing: 0;}
    .hp_item_tit{margin-bottom: 10px;}



    .header_inner{width: 970px;}
    .logo img{max-width: 170px;}
    .com_contact-info__lg li i{display: none;}
    .com_contact-info__lg li p.contact-content{margin-left: 0;}
    .header_top ul.com_contact-info__lg li{min-width: auto; max-width: 200px;}
    .header_style_1 .header_cta{right: 15px; margin-left: 0; }
    .header_style_2 .header_top .header_right,
    .header_style_1 .header_main .header_right{width: 19%;}
    .header_style_2 .header_top .header_left,
    .header_style_1 .header_main .header_left{width: 80%;}
    .header_style_2.with_cta .header_top .com_contact-info__sm{padding-right: 160px;}
    .com_contact-info__lg li p.contact-content span{margin-left: 0;}

    .width_1140 .blocks_width,
    .width_1400 .blocks_width,
    .width_full .blocks_width{width: 940px; padding-left: 0; padding-right: 0;}
    .blocks_width{padding-top: 45px; padding-bottom: 50px;}

    .slider_meta{left: 100px; right: 100px; max-width: 50%;}
    .fs.form_left .fs_meta{max-width: 75%;}
    .fs.form_right .fs_meta{width: 50%;}
    .fs.form_right .fs_form{width: 40%;}

    .serv_single_num{font-size: 60px; line-height: 60px;}
    .serv_single_tit{ width: 100%; }
    .serv_style_2 .col_3 .serv_single_tit{font-size: 18px; line-height: 26px; min-height: 48px;}
    .serv_style_1 .col_4 .serv_single_tit{font-size: 16px; line-height: 24px; min-height: 45px;}

    .ww_benefits{margin-top: 25px;}
    .ww_style_2 .ww_benefits.col_2 .ww_icon{width: 100%; padding-bottom: 10px;}
    .ww_style_2 .ww_benefits.col_2 .ww_icon:nth-child(even){padding-left: 0;}
    .ww_style_2 .ww_benefits.col_2 .ww_icon:nth-child(odd){padding-right: 0;}
    .ww.ww_style_3 .blocks_width{width: 100%;}
    .ww_benefits.col_3 .ww_icon{width: 32%;}

    .ww.ww_style_1 .ww_text{padding-left: calc(50% + 45px);}
    .ww.ww_style_2 .ww_text{padding-right: calc(50% + 45px);}

    .blocks__team__rep__tit{font-size: 16px; line-height: 22px; font-family: 'gotham_promedium';}

    .widget_slider_main_widget .shadow .shadow_ttl,
    .widget_home .widgettitle,
    .post .post_title a{font-size: 20px; line-height: 24px;}

    .sm_post_box .post_thumbnail_wrap{display: none;}
    .sm_post_box .post_title a{padding: 0;}

    .cat_t_3 .post .post_thumbnail{width: 300px;}
    .cat_t_3 .post .post_thumbnail img{width: 100%;}
    .cat_t_3 .post a + .post_meta.with_thumb{padding-left:320px;}

    .cat_t_4 .post{margin-right: 0;}

    .header_style_1.no_soc .header_main .header_right{display: none;}
    .header_style_1.no_soc .header_main .header_left,
    .header_style_2.no_soc .header_top .header_left{width: 100%;}



}
@media(max-width: 992px){


}

@media(min-width: 768px) and (max-width: 992px){

    h1{font-size: 18px; line-height: 56px; letter-spacing: 0;}
    h2,
    .hp_item_tit{font-size: 36px; line-height: 44px; letter-spacing: 0;}
    h3,
    .bws_content .hp_item_tit{font-size: 26px; line-height: 34px; letter-spacing: .01em;}
    h4,
    .hp_item_subtit{font-size: 22px; line-height: 32px; letter-spacing: 0;}
    h5{font-size: 20px; line-height: 28px; letter-spacing: 0;}
    h6{font-size: 20px; line-height: 28px; letter-spacing: 0;}
    .hp_item_tit{margin-bottom: 10px;}



    .header_inner{width: 750px;}
    .logo img{max-width: 170px;}
    .com_contact-info__lg li i{display: none;}
    .com_contact-info__lg li p.contact-content{margin-left: 0;}
    .header_top ul.com_contact-info__lg li{min-width: auto; max-width: 200px;}
    .header_style_1 .header_cta{right: 15px; margin-left: 0; }
    .header_style_2 .header_top .header_right,
    .header_style_2 .header_main .header_left,
    .header_style_1 .header_main .header_right{width: 24%;}
    .header_style_2 .header_top .header_left,
    .header_style_1 .header_main .header_left{width: 75%;}
    .header_style_2 .header_main .header_right{width: 50%; float: left;}

    .header_style_2.with_cta .header_top .com_contact-info__sm{padding-right: 0;}
    .header_style_2 .header_cta{top: 72px; right: -190px; z-index: 2;}
    .com_contact-info__lg li p.contact-content span{margin-left: 0;}
    .header_style_2 .nav_left{padding-top: 2px;}
    .header_style_2 .header_menu__search{padding-top: 4px;}

    .header_style_1 .header_top .header_left{width: 50%;}
    .header_style_1 .header_top .header_right {width: 100%; text-align: left;}
    .header_style_1.with_cta .header_top ul {padding-right: 0; padding-top: 0; padding-bottom: 0;}

    .sb-search-open .sb-search-input{font-size: 14px;}

    .width_1140 .blocks_width,
    .width_1400 .blocks_width,
    .width_full .blocks_width{width: 730px; padding-left: 0; padding-right: 0;}
    .blocks_width{padding-top: 45px; padding-bottom: 50px;}

    .slide{height: 700px;}
    .slider_meta{left: 100px; right: 100px; max-width: 100%;}
    .fs.form_left .fs_meta{max-width: 75%;}
    .fs.form_right .fs_meta{width: 50%;}
    .fs.form_right .fs_form{width: 50%;}
    .fs.form_left .form-group{margin-bottom: 20px; margin-left: 10px;}
    .fs.form_left .form-group:first-child{margin-left: 10px;}
    .fs.form_left .cta{width: 250px;}

    .services .col_2 .serv_single,
    .services .col_4 .serv_single{width: 49.5%; text-align: center;}
    .services .col_2 .serv_single_txt:after,
    .services .col_4 .serv_single_txt:after{text-align: center; margin: 0 auto; right: 0; left: 0;}
    .serv_single_num{font-size: 60px; line-height: 60px;}
    .serv_single_tit{ width: 100%; font-size: 17px; line-height: 24px; min-height: 45px;}

    .ww.ww_style_1{min-height: auto;}
    .ww_text{text-align: center;}
    .ww_benefits{margin-top: 25px;}
    .ww_style_2 .ww_benefits.col_2 .ww_icon{width: 100%; padding-bottom: 10px;}
    .ww_style_2 .ww_benefits.col_2 .ww_icon:nth-child(even){padding-left: 0;}
    .ww_style_2 .ww_benefits.col_2 .ww_icon:nth-child(odd){padding-right: 0;}
    .ww.ww_style_3 .blocks_width{width: 100%;}
    .ww_icon{text-align: left;}
    .ww_benefits.col_2 .ww_icon,
    .ww_benefits.col_3 .ww_icon,
    .ww_benefits.col_4 .ww_icon,
    .ww_benefits.col_5 .ww_icon,
    .ww_benefits.col_6 .ww_icon{width: 46%;}
    .ww.ww_style_2 .ww_benefits.col_1 .ww_icon{width: 46%; display: inline-block;}
    .ww.ww_style_1 .ww_image,
    .ww.ww_style_2 .ww_image{display: none;}
    .ww.ww_style_3 .ww_image{padding: 55px 20px 10px}
    .ww.ww_style_1 .ww_text{padding-left: 0;}
    .ww.ww_style_2 .ww_text{padding-right: 0;}
    .ww.ww_style_3 .cta{margin-bottom: 50px;}

    .item_grid .cols_3 li,
    .item_grid .cols_4 li{width: 32%;}
    .item_grid .cols_5 li,
    .item_grid .cols_6 li{width: 24.5%}

    .team_inner{height: 200px;}
    .team_inner img{max-width: 100%; max-height: 100%;}

    .blocks__team__rep__tit{font-size: 16px; line-height: 22px; font-family: 'gotham_promedium';}

    .widget_slider_main_widget .shadow .shadow_ttl,
    .widget_home .widgettitle,
    .post .post_title a{font-size: 20px; line-height: 24px;}

    .sm_post_box .post_thumbnail_wrap{display: none;}
    .sm_post_box .post_title a{padding: 0;}

    .cat_t_3 .post .post_thumbnail{width: 300px;}
    .cat_t_3 .post .post_thumbnail img{width: 100%;}
    .cat_t_3 .post a + .post_meta.with_thumb{padding-left:320px;}
    .cat_t_4 .post{margin-right: 0;}
    .page_title{padding-right: 100px;}

    .footer_block_1{width:35%;}
    .footer_block_2{width:30%;}
    .footer_block_3{width:33%;}

    .bws_content__inner{margin-bottom: 40px;}
    .bws_content__inner .post_content{margin-bottom: 0;}

    .widget_post_sidebar_widget .sidebar_posts{width: 48%; display: inline-block; vertical-align: top; margin-bottom: 15px; padding-right: 20px;}
    .sidebar_posts + .sidebar_posts{margin-top: 0;}


}

@media (max-width: 767px){
    h1{font-size: 32px; line-height: 40px; letter-spacing: 0;}
    h2,
    .hp_item_tit{font-size: 26px; line-height: 32px; letter-spacing: 0;}
    h3,
    .bws_content .hp_item_tit{font-size: 22px; line-height: 30px; letter-spacing: .01em;}
    h4,
    .hp_item_subtit{font-size: 20px; line-height: 30px; letter-spacing: 0;}
    h5{font-size: 19px; line-height: 27px; letter-spacing: 0;}
    h6{font-size: 18px; line-height: 26px; letter-spacing: 0;}
    .hp_item_tit{margin-bottom: 25px;}

    .modal-dialog{width: 100%; margin: 0;}
    .modal-header{padding: 25px 25px 15px}
    .modal-body{padding: 25px 25px}

    .header_inner{width: 100%;}
    .header_style_1 .c-hamburger,
    .header_style_2 .c-hamburger{float: left; margin-right: 0;}
    .logo{height: 50px; position: absolute; width: 50%; left: 25%; right: 25%; text-align: center;}
    .logo img{max-width: 100%; max-height: 50px;}
    .sb-search-open .sb-search-input{font-size: 14px;}

    .site_name{margin: 12px 0 5px; font-size: 20px; line-height: 30px; text-align: center;}
    .site_description{display: none;}

    .width_1140 .blocks_width,
    .width_1400 .blocks_width,
    .width_full .blocks_width{width: 100%; padding-left: 0; padding-right: 0;}
    .blocks_width{padding-top: 25px; padding-bottom: 30px;}

    .blocks_meta{padding-left: 20px; padding-right: 20px; }


    .vh100 .slide,
    .slide{height: 550px;}
    .slider_meta{left: 60px; right: 60px; max-width: 100%;}
    .slider .lSPrev:after, 
    .slider .lSNext:after{width: 14px; height: 14px; background-size: 14px 14px;}
    .slider .lSPrev:before, 
    .slider .lSNext:before{width: 38px; height: 38px;}
    .slider.text-left-with-background-white .slider_inner{width:100%;}

    .fs{padding: 0;}
    .fs.vh100{height: auto;}
    .fs_inner.cXY{position: relative; top: 0; left: 0; transform: translate(0, 0); -webkit-transform: translate(0, 0); -moz-transform: translate(0, 0); -o-transform: translate(0, 0);}
    .fs_meta,
    .fs.form_left .fs_meta,
    .fs.form_right .fs_meta,
	.fs.form_left.width_1140 .fs_meta{width: 100%; padding: 0 20px; max-width: 100%;}
    .fs.form_right .fs_form{width: 100%; border-radius: 0;}
    .fs.form_left .fs_form{padding: 0 20px;}
    .fs.form_left .form-group{margin-bottom: 20px; margin-left: 0; width: 100%; max-width: 100%;}
    .fs.form_left .form-group + .form-group{margin-left: 0;}
    .fs.form_left .form-group:first-child{margin-left: 0;}
    .fs.form_left .cta{width: 100%;}
    .fs.form_right .cta{margin-bottom: 60px;}
    .fs span.wpcf7-not-valid-tip{width: auto; left: 0; right: 0; bottom: calc(100% + 5px); top: auto;}

    .services__inner{margin-left: 0; margin-right: 0;}
    .services__meta{max-width: 100%; padding: 0 20px; margin: 0;}
    .services .col_1 .serv_single,
    .services .col_2 .serv_single,
    .services .col_3 .serv_single,
    .services .col_4 .serv_single{width: 100%; text-align: center; padding-left: 0; padding-right: 0;}
    .services .serv_single_txt:after{text-align: center; margin: 0 auto; right: 0; left: 0;}
    .serv_single{margin-top: 0; margin-bottom: 50px;}
    .services .col_2 .serv_single:nth-child(-n+2){margin-bottom: 50px;}
    .serv_single:last-child{margin-bottom: 0;}
    .serv_single_num{font-size: 60px; line-height: 60px;}
    .serv_single_tit{ width: 100%; font-size: 17px; line-height: 24px; min-height: 45px;}
    .serv_single_txt{padding-left: 20px; padding-right: 20px; }

    .about_inner{padding-left: 20px; padding-right: 20px; }

    .ww.ww_style_1{min-height: auto;}
    .ww_style_1 .ww_inner,
    .ww_style_2 .ww_inner{padding-left: 20px; padding-right: 20px; }
    .ww_text{text-align: center;}
    .ww_benefits{margin-top: 25px;}
    .ww_style_2 .ww_benefits.col_2 .ww_icon{width: 100%; padding-bottom: 10px;}
    .ww_style_2 .ww_benefits.col_2 .ww_icon:nth-child(even){padding-left: 0;}
    .ww_style_2 .ww_benefits.col_2 .ww_icon:nth-child(odd){padding-right: 0;}
    .ww.ww_style_3 .blocks_width{width: 100%;}
    .ww_icon{text-align: left;}
    .ww_benefits.col_1 .ww_icon,
    .ww_benefits.col_2 .ww_icon,
    .ww_benefits.col_3 .ww_icon,
    .ww_benefits.col_4 .ww_icon,
    .ww_benefits.col_5 .ww_icon,
    .ww_benefits.col_6 .ww_icon{width: 100%; margin-left: 0!important;}
    .ww.ww_style_3 .ww_benefits .ww_icon{padding: 0;margin: 0 0 20px;}
	.ww.ww_style_3 .ww_benefits .ww_icon:last-child{margin:0;}
    .ww_icon:first-child{margin-top: 0;}
    .ww.ww_style_1 .ww_image,
    .ww.ww_style_2 .ww_image{display: none;}
    .ww.ww_style_3 .ww_image{padding: 55px 20px 10px}
    .ww.ww_style_1 .ww_text{padding-left: 0;}
    .ww.ww_style_2 .ww_text{padding-right: 0;}
    .ww.ww_style_3 .cta{margin-bottom: 50px;}

    .item_grid ul{margin-left: 0; margin-right: 0;}
    .item_grid .cols_1 li,
    .item_grid .cols_2 li,
    .item_grid .cols_3 li,
    .item_grid .cols_4 li,
    .item_grid .cols_5 li,
    .item_grid .cols_6 li{width: 100%}


    .team_inner{height: 200px;}
    .team_inner img{max-width: 100%; max-height: 100%;}

    .blocks__team__rep__tit{font-size: 16px; line-height: 22px; font-family: 'gotham_promedium';}

    .item_grid .cols_1 .review_inner, 
    .item_slider .review_2 .review_inner,
    .item_grid .cols_1 .review__rep__meta, 
    .item_slider .review_2 .review__rep__meta,
    .review_txt{width: 100%; padding-right: 0;}

    .map.width_screen .blocks_meta,
    .review ul li{padding-left: 20px; padding-right: 20px; }

    .map_cnt span + span{margin-left: 0;}
    .map_cnt span + span:before{display: none;}

    .blocks_width__bws{padding-left: 15px!important;; padding-right: 15px!important;; display: block!important;}
    .gallery.item_grid ul{margin-left: 0; margin-right: 0;}
    .gallery.item_grid li{padding-left: 0; padding-right: 0;}
    .gallery.item_grid ul:not(.col_1) li + li{margin-left: 0;}

    .widget_slider_main_widget .shadow .shadow_ttl,
    .widget_home .widgettitle,
    .post .post_title a{font-size: 20px; line-height: 24px;}

    .sm_post_box .post_thumbnail_wrap{display: none;}
    .sm_post_box .post_title a{padding: 0;}


    .cat_t_4 .post{width: 100%; padding-right: 0;}
    .cat_t_4 .post:nth-of-type(2n){padding-left: 0;}
    .cat_t_2 .post .post_thumbnail,
    .cat_t_4 .post .post_thumbnail,
    .cat_t_3 .post .post_thumbnail{width: 100%;}
    .cat_t_3 .post .post_thumbnail img{width: 100%;}
    .cat_t_4 .post a + .post_meta.with_thumb,
    .cat_t_2 .post a + .post_meta.with_thumb,
    .cat_t_3 .post a + .post_meta.with_thumb{padding-left:0;}
    .cat_t_4 .post{margin-right: 0;}
    .page_title{padding-right: 0;}

    .pp_form{padding: 20px;}
    .turist_soc_wrap .groups_row .group_box{width: 100%;}
    .turist_soc_wrap .groups_row .group_box + .group_box{margin-left: 0; margin-top: 20px}
    .commentlist .comment .children{padding-left: 0;}

    .footer_block_1{width:100%; padding-right: 0; text-align: center;}
    .footer_block_1 .text{padding-top: 80px;}

    .bws_content__inner{margin-bottom: 40px;}
    .bws_content__inner .post_content{margin-bottom: 0;}

    .widget_post_sidebar_widget .sidebar_posts{width: 100%; display: inline-block; vertical-align: top; margin-bottom: 15px; padding-right: 20px;}
    .sidebar_posts + .sidebar_posts{margin-top: 0;}

    .sb-search-open .sb-search-input{font-size:14px;}
    .error_number{font-size:130px;line-height: 140px;}
    .page404 .search button,
    .page404 .search input{width:100%;margin:0 0 10px;}

    .comment-form .comment-form-email,
    .comment-form .comment-form-author{width: 100%; float: left;}
    .comment-form .form-submit input[type="submit"]{width: 100%;}

}












